@model SAH.Models.ModelViews.UpdateApplication

@{
    ViewBag.Title = "Create";
}

<h2>Sault Area Hospital</h2>
<h4>Add an Application</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Application.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="UserId">
                @foreach (var User in Model.Users)
                {
                    <option value="@User.UserId">@User.FirstName @User.LastName</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Application.JobId, "JobId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="JobId">
                @foreach (var Job in Model.Jobs)
                {
                    <option value="@Job.JobId">@Job.Position </option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Application.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Application.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Application.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

