@model SAH.Models.ModelViews.ShowApplication

@{
    ViewBag.Title = "Details";
}

<h2>SAH Job Applications</h2>

<div>
    <h4>More Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Application.ApplicationId }) |
    @Html.ActionLink("Back to List", "List")
</p>