@model SAH.Models.ModelViews.ShowTicket

@{
    ViewBag.Title = "Details";
    var temp = @Html.DisplayFor(model => model.Spot.SpotNumber).ToHtmlString();
    //var tempLoc = @Html.DisplayFor(model => model.location.country).ToHtmlString();
}


<div>
    <h4>Details about @Model.Ticket.NumberPlate</h4>
    <hr />
    <dl class="dl-horizontal Ticket">

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.NumberPlate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket.NumberPlate)
            </dd>
        </div>

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.EntryTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket.EntryTime)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket.Duration)
            </dd>
        </div>

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Ticket.Fees)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket.Fees)
            </dd>
        </div>

        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Spot.Zone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Spot.Zone)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Spot.SpotNumber)
            </dt>

            <dd>
                @Html.ActionLink(temp, "Index", "ParkingSpots/Details/" + Model.Spot.SpotId)
                @*@Html.DisplayFor(model => model.classe.className)*@
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.User.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ticket.TicketId }) |
    @Html.ActionLink("Back to Ticket List", "TicketList")
</p>

