@model SAH.Models.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParkingSpot.Zone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParkingSpot.Zone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberPlate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberPlate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EntryTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EntryTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fees)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fees)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
