@model SAH.Models.ModelViews.ShowCourses

@{
    ViewBag.Title = "Details";
}

<h2>Internal Education Portal</h2>

<div>
    <h4>Course Details</h4>
    <div class="col-sm-12 col-md-6">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Courses.CourseCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.CourseCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.CourseName)
            </dd>


        </dl>
    </div>
    <div class="col-sm-12 col-md-6">
        <ul>
            Registered Employees for this Course @Model.Courses.CourseCode

            @foreach (var EmployeeApplicant in Model.EmployeeApplications)
            {
                var temp = @Html.DisplayFor(modelItem => EmployeeApplicant.UserId).ToHtmlString();
                <li>
                    @Html.ActionLink(temp, "Index", "EmployeeApplicant/Details/" + EmployeeApplicant.EmployeeApplicantId)
                </li>
            }
        </ul>


    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Courses.CourseId }) |
    @Html.ActionLink("Back to List", "List")
</p>
