@model SAH.Models.ModelViews.ShowCourses

@{
    ViewBag.Title = "Details";
}

<h2>Internal Education Portal</h2>

<div>
    <h4>Course Details</h4>
    <div class="col-sm-12 col-md-6">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Courses.CourseCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.CourseCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courses.CourseDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.CourseDuration) week(s)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Courses.StartOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Courses.StartOn)
            </dd>

        </dl>
    </div>
    <div class="col-sm-12 col-md-6">
        <ul>
            <h5>Registered Applications for @Model.Courses.CourseCode Course </h5>
            @Model.Courses.NumApplications

            @if (Model.EmployeeApplications.Count() == 0)
            {
                <span class="asidemsg">There are no registrations yet.</span>
            }


            @foreach (var EmployeeApplicant in Model.EmployeeApplications)
            {
                var temp = @Html.DisplayFor(modelItem => EmployeeApplicant.EmployeeApplicantId).ToHtmlString();
                <li>
                    @Html.ActionLink(temp, "Index", "EmployeeApplicant/Details/" + EmployeeApplicant.EmployeeApplicantId)
                </li>
            }
        </ul>


    </div>
</div>
<p>
    @Html.ActionLink("Register", "../EmployeeApplicant/Create") |
    @Html.ActionLink("Back to List", "List")
</p>
