@model SAH.Models.ModelViews.EditEmployeeApplicant

@{
    ViewBag.Title = "Create";
}
<h2>Internal Education Portal</h2>


<form action="/EmployeeApplicant/Create" method="post" name="createApplication">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h4>Add an Employee Application</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeApplicant.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Ticket.UserId">
                    @foreach (var User in Model.AllUsers)
                    {
                        <option value="@User.UserId">@User.FirstName @User.LastName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeApplicant.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="EmployeeApplicant.CourseId">
                    @foreach (var Course in Model.AllCourses)
                    {
                        <option value="@Course.CourseId">@Course.CourseName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick="verifyTicket();" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to Ticket List", "TicketList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
