@model SAH.Models.EmployeeApplicantDto

@{
    ViewBag.Title = "Delete";
}

<h4>Delete Employee Application @Model.EmployeeApplicantId ?</h4>

<div>

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.EmployeeApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete", "EmployeeApplicant", new { Id = Model.EmployeeApplicantId }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
    }
</div>

