@model SAH.Models.ModelViews.EditEmployeeApplicant

@{
    ViewBag.Title = "Edit";
}

<h4>Edit Application</h4>


<form action="/EmployeeApplicant/Edit/@Model.EmployeeApplicant.EmployeeApplicantId" method="post" name="createTicket">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeApplicant.EmployeeApplicantId)
       

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeApplicant.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="EmployeeApplicant.UserId">
                    @foreach (var user in Model.AllUsers)
                    {
                        string selected = "";
                        if (Model.EmployeeApplicant.UserId == user.UserId)
                        {
                            selected = "";
                        }
                        <option value="@user.UserId" @selected>@user.FirstName @user.LastName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeApplicant.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="EmployeeApplicant.CourseId">
                    @foreach (var Course in Model.AllCourses)
                    {
                        string selected = "";
                        if (Model.EmployeeApplicant.CourseId == Course.CourseId)
                        {
                            selected = "";
                        }
                        <option value="@Course.CourseId" @selected>@Course.CourseName </option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" onclick="verifyTicket();" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to Ticket List", "TicketList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
