@model IEnumerable<SAH.Models.ModelViews.ShowEmployeeApplicant>

@{
    ViewBag.Title = "List";
}

<h2>List of Employee Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeApplicant.EmployeeApplicantId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeApplicant.EmployeeApplicantId }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.EmployeeApplicant.EmployeeApplicantId })
            </td>
        </tr>
    }

</table>

