@model SAH.Models.ModelViews.CreateChat

@{
    ViewBag.Title = "Create";
}

<div class="pageContainer">
    <h2 class="pageTitle">Create a New chat</h2>

    @using (Html.BeginForm("Create", "Chat", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <h3>Please Select a Chat Recipient and Subject</h3>
                <div class="col-md-10">
                    @Html.LabelFor(model => model.Chat.ApplicationUsers, htmlAttributes: new { @class = "control-label col-md-2" })
                    <select name="RecipientId">
                        @foreach (var Doctor in Model.Doctors)
                        {
                            <option value="@Doctor.Id">Dr. @Doctor.FirstName @Doctor.LastName</option>
                        }
                    </select>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Chat.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Chat.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Chat.Subject, "", new { @class = "text-danger" })
                </div>
            </div>

            <h3>Please Write a Message</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstMessage.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstMessage.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstMessage.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create and Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "List")
    </div>
</div>
