@model IEnumerable<SAH.Models.SpecialityDto>

@{
    ViewBag.Title = "List";
}

<h2>Speciality List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="overflow:auto">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialityName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialityName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SpecialityId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SpecialityId }) |
                    @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.SpecialityId })
                </td>
            </tr>
        }

    </table>
</div>


