@model IEnumerable<SAH.Models.MessageDto>

@{
    ViewBag.Title = "ChatMessages";
}

<h2>Messages In This Chat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Details", "Show", new { id=item.MessageId }) |
        </td>
    </tr>
}
</table>
